/************ Footer Css ************/
.footer {
  padding: 0 0 50px 0;
  background-image: url('../../assets/img/footer-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.newsletter-bx {
  background: #FFFFFF;
  border-radius: 64px;
  color: #121212;
  padding: 4rem;
  margin-bottom: 80px;
  margin-top: -122px;
}
.newsletter-bx h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2em;
}
.new-email-bx {
  background: #fff;
  border-radius: 64px;
  z-index: 0;
  display: flex;
  align-items: center;
}
.new-email-bx input {
  width: 100%;
  font-weight: 500;
  padding: 15px;
}
.new-email-bx button {
  background: linear-gradient(90.21deg, #072333 -5.91%, #153241 111.58%);
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 15px;
}
.footer img {
  width: 26%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}
